body
{
    font-family: sans-serif;
}
/*header section*/
.setting
{
    height: 80px;
    width: 40px;
    position: fixed;
    top: 200px;
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius:0px  ;
    background-color: #fff ;
    z-index: 9999;
    color: gray;
}
.cart
{
    width: 40px;
    position: fixed;
    top: 250px;
    right: 0px;
    border-radius: 5px;
    background-color: #fff ;
    z-index: 9999;
    color: gray;
}
.navbar
{
    background-color: transparent;
}
.navbar img {
    width: 170px;
}

.navbar .navbar-nav .nav-item .nav-link
{
    color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link:hover
{
    color:#ae9768;
}

.a-home
{
    color: #ae9768 !important;
}
.font-main
{
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-right: 15px;
}
.layer{
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}
.header
{
    background-image: url(../images/drew-coffman-1872.jpg);
    background-position: center center;
    background-size: cover ;
    height: 100vh;  
}
.p1-size
{
    font-size: 22px;
}
.h1-size
{
    font-size: 76px;
}
.p2-size
{
    font-size: 24px;
}
.btn-main
{
    padding: 15px 25px;
}
.btn-color1
{
    background-color: #ae9768;
    border-color: transparent;
}
.btn-color2
{
    background-color: transparent;
    border: #fff solid 2px;
}
.btn-color1:hover 
{
    background-color: #fff;
    color: black;
    border-color: transparent;
}
.btn-color2:hover 
{
    background-color: #fff;
    color: black;
    border-color: transparent;
}
@media screen and (max-width:776px){
    .h1-size
    {
        font-size: 50px;
    }
    .p2-size
    {
        font-size:20px ;
        padding:20px 0px ;
    }
}
/* offer section */
#offer
{
    background-color: #F8F8F8;
}
#offer p 
{
    color: #686868;
}
#offer h2 
{
    color: #303030;
}

/* section_2 */


.whoweare h2
{
    color: #303030;
    font-family: "Alegreya"
}
.whoweare p
{
    line-height: 30px;
}
.icon
{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: #b1aeae solid 1px;
    border-radius: 50% ;
}
.whoweare li i
{
    color: #8e7754;

}
.whoweare li p
{
    margin-top: 10px;
}

